@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span, div, ul, li, ol, input, button {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h1.title {
  font-size: 60px;
  font-weight: 900;
}
h1.title span.thin {
  font-weight: 100;
}
@media (max-width: 1000px) {
  h1.title {
    font-size: 36px;
  }
}

html, body, main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
}
@media (max-width: 680px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
main div.container {
  width: 47.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 680px) {
  main div.container {
    width: 100%;
    height: 47.5%;
  }
}
main div.container.left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 680px) {
  main div.container.left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
main div.container.left p.paragraph {
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
}
main div.container.left button.main-button {
  width: 200px;
  height: 50px;
  background-color: rgb(31, 31, 31);
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
main div.container.left button.main-button:hover {
  background-color: rgb(78, 92, 250);
}
main div.container.right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 680px) {
  main div.container.right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
main div.container.right img.code-image {
  width: 90%;
  height: auto;
  border: 22.5px solid rgb(31, 31, 31);
  -webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.7);
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 680px) {
  main div.container.right img.code-image {
    width: auto;
    height: 75%;
    border: 15px solid rgb(31, 31, 31);
  }
}

header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 50px;
}

header {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgb(250, 250, 250);
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

footer {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgb(250, 250, 250);
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
  bottom: 0px;
}